<%= semantic_form_for [:admin, @issue] do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, :as => :string %>
    <%= f.input :excerpt %>
    <%= f.input :description %>
    <%= f.input :image, :as => :file, :required => true %>
    <div class="image" style="margin-left: 340px;">
      <%- unless @issue.image_updated_at.nil? -%> 
        <p>Last updated image:</p>
        <img src="<%= @issue.image.url -%>" height="100">
      <% end %>
    </div>
    <%= f.input :thumbnail, :as => :file, :required => true %>
    <div class="thumbnail" style="margin-left: 340px;">
      <%- unless @issue.thumbnail_file_name.blank? -%> 
        <p>Last updated image:</p>
        <img src="<%= @issue.thumbnail.url -%>" height="100">
      <% end %>
    </div>
    <%- unless @issue.debates.blank? %>
        <p style="padding: 5px; border: 1px solid #666; margin: 20px 20px 0px 340px;">Select what Debate you want to feature on the Issue page. The blank option will not display the module at all.</p>
        <%= f.input :featured_debate, :as => :select, :collection => @issue.debates, :allow_blank => true %>
        <%= f.input :debate_call_to_action, :as => :string %>
        <p id="debate_call_to_action_length" style="padding-left: 10px; border: 1px solid #efefef; margin: 10px 0 0 343px;"><span></span>(Call to action length should be between <strong><%= Issue::MIN_CALL_TO_ACTION_LENGTH %></strong> and <strong><%= Issue::MAX_CALL_TO_ACTION_LENGTH %></strong> characters long)</p>
    <%- end %>
    <%- unless @issue.personal_stories.blank? %>
      <p style="padding: 5px; border: 1px solid #666; margin: 20px 20px 0 340px;">Select what Personal Story Video you want to feature on the Issue page. The blank option will not display the module at all.</p>
      <%= f.input :featured_personal_story, :as => :select, :collection => @issue.personal_stories, :allow_blank => true, :label => 'Featured Video' %>
      <%= f.input :personal_story_call_to_action, :as => :string %>
      <p id="personal_story_call_to_action_length" style="padding-left: 10px; border: 1px solid #efefef; margin: 10px 0 0 343px;"><span></span>(Call to action length should be between <strong><%= Issue::MIN_CALL_TO_ACTION_LENGTH %></strong> and <strong><%= Issue::MAX_CALL_TO_ACTION_LENGTH %></strong> characters long)</p>
      <div></div>
    <%- end %>
    <%- unless @issue.petitions.blank? %>
      <p style="padding: 5px; border: 1px solid #666; margin: 20px 20px 0 340px;">Select what Petition you want to feature on the Issue page. The blank option will not display the module at all.</p>
      <%= f.input :featured_petition, :as => :select, :collection => @issue.petitions.where(:state => "published"), :allow_blank => true %>
      <%= f.input :petition_call_to_action, :as => :string %>
      <p id="petition_call_to_action_length" style="padding-left: 10px; border: 1px solid #efefef; margin: 10px 0 0 343px;"><span></span>(Call to action length should be between <strong><%= Issue::MIN_CALL_TO_ACTION_LENGTH %></strong> and <strong><%= Issue::MAX_CALL_TO_ACTION_LENGTH %></strong> characters long)</p>
      <div></div>
    <%- end %>
    <p style="padding: 5px; border: 1px solid #666; margin: 20px 20px 0 340px;">Select what Petition you want to feature on the Issue page. The blank option will not display the module at all.</p>
    <%= f.input :feature_ideas, :allow_blank => true %>
    <%= f.input :ideas_call_to_action, :as => :string %>
    <p id="ideas_call_to_action_length" style="padding-left: 10px; border: 1px solid #efefef; margin: 10px 0 0 343px;"><span></span>(Call to action length should be between <strong><%= Issue::MIN_CALL_TO_ACTION_LENGTH %></strong> and <strong><%= Issue::MAX_CALL_TO_ACTION_LENGTH %></strong> characters long)</p>
    <%= f.input :ideas_title, :as => :string %>
    <%= f.input :ideas_headline, :as => :string %>
    <%= f.input :ideas_media, :as => :string %>
    <%= f.input :pdp_link, :as => :string %>
    <%= f.input :voc_link, :as => :string %>
    <p id="ideas_media_hint" style="padding-left: 10px; border: 1px solid #efefef; margin: 10px 0 0 343px;"><span></span>(Just paste a link to a vimeo or youtube video)</p>
    <div></div>
  <% end %>
  <%= f.buttons %>
<% end %>
<script type="text/javascript">
var counter = function(field, p){
  $(field).keyup(function(){
    $(p + ' span').html($(field).val().length + " characters ");
  });
}

counter('#issue_debate_call_to_action', '#debate_call_to_action_length');
counter('#issue_personal_story_call_to_action', '#personal_story_call_to_action_length');
counter('#issue_petition_call_to_action', '#petition_call_to_action_length');
counter('#issue_ideas_call_to_action', '#ideas_call_to_action_length');

</script>
<style>
  ol div {
    margin-left: 250px;
  }
</style>
