- if @new_signature or @member.nil?
  %h2= @taf.thank_you_headline
  %p
    %strong= @taf.thank_you_text
- else
  %h2= t("petition_show.already_signed", :name => @member.first_name)

-# if current_member && current_member.facebook_authorization
  .speech_bubble_container.gray_big.taf
    .speech_bubble_top
    .speech_bubble
      %h3 Compartilhe com amigos que podem fazer a diferença!
      .share_with_friends
        - current_member.friends.each do |friend|
          = form_tag share_with_friends_path(@taf.petition.issue, @taf.petition.custom_path), :method => :post, :remote => true do
            = hidden_field_tag "friend_id", friend["id"]
            = image_tag "http://graph.facebook.com/#{friend["id"]}/picture"
            %h4= friend["name"]
            .share_fields
              .invisible= label_tag "message", "Sua mensagem..."
              = text_area_tag "message", nil, :placeholder => "Sua mensagem...", :rows => 1
              = submit_tag "Compartilhar", :class => "btn_orange"
              = image_tag "loading.gif"

- if @taf && @taf.display_facebook
  .speech_bubble_container.gray_big.taf
    .speech_bubble_top
    .speech_bubble
      %h3= t("petition_show.share_on_facebook")
      %br
      .fb-like{ data: { href: @taf.facebook_link, send: "true",  width: "400", :"show-faces" => "true" }}
      %br
      %br
      -#= link_to image_tag("/assets/auth/facebook_128.png"), "http://www.facebook.com/sharer.php?u=#{@taf.facebook_link}", :target => "_blank", :title => t("petition_show.share_on_facebook"), :class => "facebook_btn"
      .share_text
        %strong
          %em= @taf.facebook_title
        %br
        %br
        %em= @taf.facebook_message
  
- if @taf && @taf.display_orkut
  .speech_bubble_container.gray_big.taf
    .speech_bubble_top
    .speech_bubble
      %h3= t("petition_show.share_on_orkut")
      = link_to image_tag("/assets/auth/orkut_128.png"), "http://promote.orkut.com/preview?nt=orkut.com&du=#{@taf.orkut_link}&tt=#{@taf.orkut_title}&cn=#{@taf.orkut_message}", :target => "_blank", :title => t("petition_show.share_on_orkut"), :class => "orkut_btn"
      .share_text
        %strong= @taf.orkut_title
        %br
        = @taf.orkut_message
  
- if @taf && @taf.display_twitter
  .speech_bubble_container.gray_big.taf
    .speech_bubble_top
    .speech_bubble
      %h3= t("petition_show.share_on_twitter")
      %br
      = link_to "Tweetar", "https://twitter.com/share", class: "twitter-share-button", data: { text: @taf.tweet, lang: "pt", size: "large" }
      %br
      %br
      -#= link_to image_tag("/assets/auth/twitter_128.png"), "http://twitter.com/share?url=#{@taf.twitter_url}&text=#{u(@taf.tweet)}", :target => "_blank", :title => t("petition_show.share_on_twitter"), :class => "twitter_btn"
      .share_text
        %em= @taf.tweet
        %br
- if @taf && @taf.display_email
  .speech_bubble_container.gray_big.taf
    .speech_bubble_top
    .speech_bubble
      %h3= t("petition_show.share_via_email")
      = link_to image_tag("/assets/auth/email.png"), "mailto:?subject=#{@taf.email_subject}&body=#{@taf.email_message}", :title => t("petition_show.share_via_email"), :class => "email_btn"
      .share_text
        %strong= @taf.email_subject
        %br
        = @taf.email_message
  
- if @taf && @taf.display_copy_url 
  .speech_bubble_container.gray_big.clippy
    .speech_bubble_top
    .speech_bubble
      =raw clippy(issue_custom_petition_url(@taf.petition.issue_id, @taf.petition.custom_path), "#e7e7e7")
      =text_field_tag "clippy_input", issue_custom_petition_url(@taf.petition.issue_id, @taf.petition.custom_path), :id => "clippy_input", :class => "right"
