-if @petition.complete?
  =content_for :meta_tags do
    %meta{ :property => "og:image", :content => "<img src='#{@taf.facebook_image.url(:medium)}'>" } 
    %meta{ :property => "og:description", :content => "#{@taf.facebook_message}" } 
    %meta{ :property => "og:url", :content => "#{@taf.facebook_link}" } 

=content_for :javascripts do
  =javascript_include_tag("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js")
  :javascript
    $("form#new_petition_signature").validate({
      submitHandler: function(){
        return true;
      }
    });

%h1.grid_12= @petition.title
.grid_6
  .media= raw @petition.media
  -if @petition.ok_to_display_counter?
    .counter
      .counter_progress{:style => "width: #{@petition.percentage_complete}%;"}
      %span.goal= t("petition_show.goal", :goal => @petition.counter_goal)
    .petition_count= raw t("petition_show.signatures", :count => @petition.petition_signatures.count)
  .description= raw @petition.description.gsub("\n", "<br /><br />")
.grid_6.omega
  .take_action
    %h2= @petition.call_to_action_headline
    .call_to_action_text
      %p= raw @petition.call_to_action_text
    =form_for @petition_signature do |f|
      =fields_for @member do |m|
        .member.field.left
          =m.label :first_name
          =m.text_field :first_name, :class => "required"

        .member.field.right
          =m.label :last_name
          =m.text_field :last_name, :class => "required"
        
        .email.field.left
          =m.label :email
          =m.text_field :email, :class => "required email"

        .zona.field.right
          =m.label :zona
          =m.select :zona, %w[Centro Norte Oeste Sul], :class => "required"

      .comment
        =f.label :comment
        =f.text_area :comment, :rows => 5
        %br
        %small= t("petition_show.comment_tip")

      %input{:id => "petition_custom_path", :name => "petition[custom_path]", :type => "hidden", :value => @petition.custom_path }

      .submit
        =f.submit(@petition.call_to_action)
        .clearfix
  -if @petition.surface_comments == true
    .comments
      %h3= t("petition_show.recent_comments")
