-if @petition.complete?
  =content_for :meta_tags do
    %meta{ :property => "og:image", :content => "<img src='#{@taf.facebook_image.url(:medium)}'>" } 
    %meta{ :property => "og:description", :content => "#{@taf.facebook_message}" } 
    %meta{ :property => "og:url", :content => "#{@taf.facebook_link}" } 
  
.grid_12
  = link_to "ISSUE NAME", "#"
%h1.grid_12
  = @petition.title.upcase
  .outline= @petition.title.upcase
.grid_6
  .media= raw @petition.media
  -if @petition.ok_to_display_counter?
    .goal= t("petition_show.goal", :goal => @petition.counter_goal)
    .graph
      .progress{:style => "width: #{@petition.percentage_complete}%;"}
    %strong= raw t("petition_show.signatures", :count => @petition.petition_signatures.count)
  .description= raw @petition.description.gsub("\n", "<br /><br />")
.grid_6.take_action
  - if current_member && !PetitionSignature.find_by_member_id_and_petition_id(current_member.id, @petition.id).nil?
    = render :partial => "petitions/taf"
    = image_tag "/assets/thank_you.png", :id => "thank_you"
  - else
    = render :partial => "petitions/form"
-if @petition.surface_comments == true && !@comments.empty?
  .grid_6.comments
    %h3= t("petition_show.recent_comments")
    - @comments.each do |petition_signature|
      %p
        = petition_signature.comment
        %br
        %strong= "#{petition_signature.member.name}, #{petition_signature.member.zona}"
