-if @petition.complete?
  =content_for :meta_tags do
    %meta{ :property => "og:image", :content => "<img src='#{@taf.facebook_image.url(:medium)}'>" } 
    %meta{ :property => "og:description", :content => "#{@taf.facebook_message}" } 
    %meta{ :property => "og:url", :content => "#{@taf.facebook_link}" } 

=content_for :javascripts do
  =javascript_include_tag("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js")
  :javascript
    $("form#new_petition_signature").validate({messages: {
      "member[first_name]": "Campo obrigatório",
      "member[last_name]": "Campo obrigatório",
      "petition_signature[comment]": "Não insira mais que 140 caracteres",
      "member[email]": {"required": "Campo obrigatório", "email": "E-mail inválido"}
    }});

    $("#petition_signature_comment").keyup(function(){
      $("#comment_tip").html((140 - $("#petition_signature_comment").val().length) + " caracteres");
    });

%h1.grid_12= @petition.title
.grid_6
  .media= raw @petition.media
  -if @petition.ok_to_display_counter?
    .counter
      .counter_progress{:style => "width: #{@petition.percentage_complete}%;"}
      %span.goal= t("petition_show.goal", :goal => @petition.counter_goal)
    .petition_count= raw t("petition_show.signatures", :count => @petition.petition_signatures.count)
  .description= raw @petition.description.gsub("\n", "<br /><br />")
.grid_6.omega
  .take_action
    = render :partial => "petitions/form"
  -if @petition.surface_comments == true
    .comments
      %h3= t("petition_show.recent_comments")
