-if @petition.complete? && !@petition.display_donation?


  - content_for :title, "Meu Rio - #{@petition.issue.name}"

  - content_for :meta_tags do
    %meta{ :name => :description, :content => "#{@petition.headline}"}
    %meta{ :name => :keywords, :content => "#{SITE['seo_keywords']}"}
    %meta{ :name => :author, :content => "#{SITE['seo_author']}"}

  - content_for :facebook_properties do
    %meta{ :property => "og:description", :content => "#{@taf.facebook_message}" }
    %meta{ :property => "og:url", :content => "#{@taf.facebook_link}" }
    %meta{ :property => "og:title",  :content => @petition.taf.facebook_title }
    %meta{ :property => "og:image", :content => "#{@taf.facebook_image.url(:medium)}" }

  .grid_12
  .issue_name
    .sprite.petition
    = link_to @petition.issue.name, issue_path(@petition.issue)
%h1.grid_12
  = @petition.headline.upcase
.grid_6
  .media{:style => "z-index:0"}= raw @petition.media
  -if @petition.ok_to_display_counter?
    -if @petition.counter_goal != 0
      .grid_5.alpha.progress_bar_container
        .graph
          .progress{:style => "width: #{@petition.percentage_complete}%;"}
      .grid_1.omega.meta_container
        .goal= t("petition_show.goal", :goal => @petition.counter_goal)
    .grid_6.omega.alpha
      %strong.counter= raw t("petition_show.signatures", :count => @petition.signature_count)
  .grid_6.alpha.omega
    %p.description= raw @petition.description.gsub("\n", "<br /><br />")
.grid_6.take_action
  -if @petition.published?
    - if current_member && current_member.has_signed?(@petition.id)
      - if @petition.display_donation?
        = render :partial => "petitions/donation"
      - else
        = render :partial => "petitions/taf"
        = image_tag "/assets/thank_you.png", :id => "thank_you"
    - else
      = render :partial => "petitions/form"
-if @petition.surface_comments == true && !@comments.empty?
  .grid_6.comments
    %h3= t("petition_show.recent_comments")
    - @comments.each do |petition_signature|
      .comment_container
        .sprite.little_blue_bubble
        %p
          = petition_signature.comment
          %br
          = '-'
          = link_to "#{petition_signature.member.name}", petition_signature.member

