%h1.grid_12= t("issue_archive.archive")

-unless @articles.nil?
  .head_info.grid_12
    .grid_4.alpha
      %dl.dropdown
        %dt
          %span= @issue.name
        %dd
          %ul
            -@issues.each do |issue|
              %li=link_to issue.name, issue_archive_path(issue.id), :class => "issue-#{issue.id}"
    .grid_3.prefix_5.omega
      .count= "Exibindo #{@articles_start}-#{@articles_end} de #{@article_count}"
      .arrow.previous{:class => @articles_start < 5 ? "inactive" : '' }=link_to ">", issue_archive_page_path(@issue.id, @page - 1)
      .arrow.next{:class => @articles_end >= @article_count ? "inactive" : '' }=link_to ">", issue_archive_page_path(@issue.id, @page + 1)
  .articles.grid_12.alpha.omega
    =render :partial => "articles"
  .grid_3.prefix_9.omega.article_count
    .count= "Exibindo #{@articles_start}-#{@articles_end} de #{@article_count}"
    .arrow.previous{:class => @articles_start < 5 ? "inactive" : '' }=link_to ">", issue_archive_page_path(@issue.id, @page - 1)
    .arrow.next{:class => @articles_end >= @article_count ? "inactive" : '' }=link_to ">", issue_archive_page_path(@issue.id, @page + 1)
  .clearfix
