- content_for :title, "Meu Rio - #{@issue.name}"

- content_for :meta_tags do
  %meta{ :name => :description, :content => "#{@issue.description}"}
  %meta{ :name => :keywords, :content => "#{SITE['seo_keywords']}"}
  %meta{ :name => :author, :content => "#{SITE['seo_author']}"}

- content_for :facebook_properties do
  %meta{ :property => "og:description", :content => "#{@issue.description}" }
  %meta{ :property => "og:url", :content => issue_url(@issue) }
  %meta{ :property => "og:title",  :content => @issue.name }

.grid_12.alpha
  %h1= @issue.name
.grid_8-5.issue_main
  .intro
    %img{ :src => @issue.image.url(:large), :width => "635", :height => "435" }
  .excerpt
    %p=raw @issue.excerpt.gsub("\n", "<br />")
    .description
      %p=raw @issue.description.gsub("\n", "<br />")
    .see_more
      %a#read_more{:href => '#'}
        %span= t("issue_show.read_more")
.grid_3-5.omega
  -if @issue.voc_link && !@issue.voc_link.empty?
    %section.voc_link.wobble_container
      %header
        %p Não enrola
      %div
        .sprite.icon.voc_link
        %p Sua chance de levar um papo reto com os candidatos a vereador do Rio de Janeiro
        .text_align.center
          =link_to "Verdade ou Consequência", @issue.voc_link, :class => 'btn'
      %footer
  -if @issue.pdp_link && !@issue.pdp_link.empty?
    %section.pdp_link.wobble_container
      %header
        %p Panela de Pressão
      %div
        .sprite.icon.pdp_link
        %p Colocamos esta campanha na panela, mas é você quem tem que fazer pressão!
        .text_align.center
          =link_to "Ir para a Panela", @issue.pdp_link, :class => 'btn'
      %footer
  -if @issue.featured_petition
    %section.petition.wobble_container
      %header
        %p= t("issue_show.petition")
      %div
        .sprite.icon.petition
        %p=@issue.petition_call_to_action
        .text_align.center
          =link_to @issue.featured_petition.call_to_action, issue_custom_petition_path(@issue.id, @issue.featured_petition.custom_path), :class => 'btn'
      %footer
  -if @issue.featured_debate
    %section.debate.wobble_container
      %header
        %p= t("issue_show.debate")
      %div
        .sprite.icon.debate
        %p=@issue.debate_call_to_action
        .text_align.center
          =link_to "Dê Sua Opinião", issue_debate_path(@issue.id, @issue.featured_debate), :class => 'btn'
      %footer
  -if @issue.featured_personal_story
    %section.personal_story.wobble_container
      %header
        %p= t("issue_show.personal_story")
      %div
        .sprite.icon.personal_story
        %p=@issue.personal_story_call_to_action
        .text_align.center
          =link_to "Descubra esse Rio", issue_personal_story_path(@issue.id, @issue.featured_personal_story.id), :class => 'btn'
      %footer
  -if @issue.feature_ideas?
    %section.debate.wobble_container
      %header
        %p= t("issue_show.ideas")
      %div{:style => 'width: 100%'}
        =image_tag('imagine.png', :id => 'ballon', :style => 'float: right; margin-right: 20px;')
        %p=@issue.ideas_call_to_action
        .text_align.center
          =link_to "Dê Suas Idéias", issue_ideas_path(@issue.id), :class => 'btn'
      %footer
  -if @issue.letters_enabled?
    %section.petition.wobble_container
      %header
        %p= t("issue_show.letter")
      %div
        %p Envie uma carta para os membros da CECA pedindo mais estudos para a expansão Metrô do Rio.
        .text_align.center= link_to "Envie sua carta", issue_letter_path(@issue.id), :class => 'btn'
      %footer

  .see_more
    =link_to(issue_archive_path(@issue.id)) do
      %span= t("issue_show.see_more")
