.grid_12.alpha
  %h1= @issue.name
.grid_8-5.issue_main
  .intro
    %img{ :src => @issue.image.url(:large), :width => "635", :height => "435" }
  .excerpt
    %p=@issue.excerpt
    .description
      %p=@issue.description
    .see_more
      %a#read_more{:href => '#'}
        %span= t("issue_show.read_more")
.grid_3-5.omega
  -if @issue.featured_petition
    %section.petition.wobble_container
      %header
        %p= t("issue_show.petition")
      %div
        .sprite.icon.petition
        %p=@issue.petition_call_to_action
        .text_align.center
          =link_to @issue.featured_petition.call_to_action, issue_custom_petition_path(@issue.id, @issue.featured_petition.custom_path), :class => 'btn'
      %footer
  -if @issue.featured_debate
    %section.debate.wobble_container
      %header
        %p= t("issue_show.debate")
      %div
        .sprite.icon.debate
        %p=@issue.debate_call_to_action
        .text_align.center
          =link_to "Dê Sua Opinião", issue_debate_path(@issue.id, @issue.featured_debate), :class => 'btn'
      %footer
  -if @issue.featured_personal_story
    %section.personal_story.wobble_container
      %header
        %p= t("issue_show.personal_story")
      %div
        .sprite.icon.personal_story
        %p=@issue.personal_story_call_to_action
        .text_align.center
          =link_to "Descubra esse Rio", issue_personal_story_path(@issue.id, @issue.featured_personal_story.id), :class => 'btn'
      %footer
  .see_more
    =link_to(issue_archive_path(@issue.id)) do
      %span= t("issue_show.see_more")
