.grid_12
  .issue_name= link_to @issue.name
  %h1.video_page_title
    =t("video_show.page_title")
.current
  .grid_6.alpha
    #current_video
      =raw @stories.first.video_embed_code
  .grid_6.omega
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e3043431fd4aaea"></script>
    <!-- AddThis Button END -->
    %h2#current_title= @stories.first.title
    #current_description= raw @stories.first.description
    -if @debate
      -if @stories.first.connected_action != "DEBATE"
        =link_to "Take Action", debate_path(@debate.id), :class => "btn take_action debate", :style => "display: none;"
      -else
        =link_to "Take Action", debate_path(@debate.id), :class => "btn take_action debate"
    -if @petition
      -if @stories.first.connected_action != "PETITION"
        =link_to "Take Action", petition_path(@petition.id), :class => "btn take_action petition", :style => "display: none;"
      -else
        =link_to "Take Action", petition_path(@petition.id), :class => "btn take_action petition"
.grid_12
  .story_list
    -@stories.each do |story|
      .story.grid_3.alpha{ :id => "story-#{story.id}"}
        %img.thumbnail{:src => "#{story.thumbnail}", 'data-storyID' => story.id, :width => '210', :height => '155'  }
        .title= story.title
