- content_for :title, "Meu Rio - Direto da Gema - #{@current.title}"

- content_for :meta_tags do
  %meta{ :name => "description", :content => @current.description }
  %meta{ :name => "keywords", :content => SITE["seo_keywords"] }

- content_for :facebook_properties do
  %meta{ :property => "og:image",       :content => @current.thumbnail }
  %meta{ :property => "og:title",       :content => @current.title }
  - unless @petition.nil? and @current.connected_action != "PETITION" and @issue.featured_petition.custom_path
    %meta{ :property => "og:description", :content => "#{@current.description} - Assine a petição: #{issue_custom_petition_url(@issue.id, @issue.featured_petition.custom_path)}" }
  %meta{ :property => "og:url",         :content => request.url }
  %meta{ :property => "og:type",        :content => :video }
  %meta{ :property => "og:video",       :content => video_share_url(@current.video_url) }
  %meta{ :property => "og:video:type",  :content => "application/x-shockwave-flash"}
  %meta{ :property => "og:video:width", :content => "396" }
  %meta{ :property => "og:video:height", :content => "297" }
  %meta{ :property => "og:site_name",   :content => "Meu Rio" }

.grid_12
  .issue_name
    .sprite.personal_story
    = link_to @issue.name, issue_path(@issue)
%h1.video_page_title
  =t("video_show.page_title")

.current.grid_12.alpha.omega
  #video_content.grid_7-5.omega
    #current_video{ 'data-storyID' => @current.id, 'data-firststoryid' => @current.id }
      =raw @current.video_embed_code
  #video_description_container.grid_4-5.omega
    #video_description_content
      <!-- AddThis Button BEGIN -->
      <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4e414cea7d1fee4b"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e414cea7d1fee4b"></script>
      :javascript
        var addthis_config = {
                  services_compact: 'email, facebook, orkut, twitter',
                  services_exclude: 'formspring'
        }
        var addthis_share = {
          templates: {
            twitter: "Meu Rio, Direto da Gema: #{@current.title}. {{url}}"
          }
        }
      <!-- AddThis Button END -->
      %h2#current_title= @current.title
      #current_description= raw @current.description
      .action{ :style => "text-align: center; margin-top: 10px" }
        - unless @petition.nil? and @current.connected_action != "PETITION" and !@issue.featured_petition.custom_path.nil?
          = link_to "Assine a petição", issue_custom_petition_path(@issue.id, @issue.featured_petition.custom_path), :class => "btn take action petition"
          %span{:style => "display: block; font-size: 12px; margin: 10px 0"}
      -if !@current.connected_action || @current.connected_action == "NONE" || (@current.connected_action == "DEBATE" && @debate.nil?) || (@current.connected_action == "PETITION" && @petition.nil?)
        /.sprite.arrow-down

      -else
        /.sprite.arrow-down
      -if !@debate.nil?
        -if @current.connected_action != "DEBATE"
          =link_to t("video_show.join_the_debate_link"), issue_debate_path(@issue.id, @debate.id), :class => "btn take_action debate", :style => "display: none;"
        -else
          =link_to t("video_show.join_the_debate_link"), issue_debate_path(@issue.id, @debate.id), :class => "btn take_action debate"
      .action{ :style => "text-align: center" }
        // Share feature for every petition
        = link_to "Compartilhe no facebook!", "https://www.facebook.com/sharer/sharer.php?u=#{u(request.url)}", :target => :blank, :class => "btn"


  .clearfix
.grid_12.video_thumbs
  .story_list
    -@stories.each do |story|
      .story{ :id => "story-#{story.id}" }
        %a.thumbnail{'data-storyID' => story.id, :href => "/issues/#{@issue.id}/personal_stories/#{story.id}", :class => @current == story ? "current" : "" }
          %img{:src => "#{story.thumbnail}", :width => '210', :height => '155'  }
          .play_button=image_tag("video_play.png")
        .title.clearfix= story.title

=content_for :javascripts do
  :javascript
    var MR = MR || {};
    MR.stories = #{@stories.to_json};

    $(document).ready(function(){
      if(Modernizr.history){
        window.setTimeout(function() {
          window.addEventListener("popstate", function(e) {
            var $story = $('a[data-storyid = "' + $("#current_video").attr("data-storyid") + '"]');
            if(e.state && e.state.data){
              MR.personal_stories.replaceVideo(e.state.data);
              MR.personal_stories.movePlayButton($story);
            } else {
              var $current_video = $('#current_video');
              if($current_video.attr('data-storyid') !== $current_video.attr('data-firststoryid')){
                $story = $('a[data-storyid = "' + $("#current_video").attr("data-firststoryid") + '"]');
                MR.personal_stories.getPersonalStory($story);
                MR.personal_stories.movePlayButton($story);
              }
            }
          }, false);
        }, 1);
      }
    });

