%h1 Mudança de Senha
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  .grid_4
    = custom_devise_error_messages!
  = f.hidden_field :reset_password_token
  .grid_12
    %div
      = f.label :password, "Nova senha"
      %br/
      = f.password_field :password
    %div
      = f.label :password_confirmation, "Confirme a nova senha"
      %br/
      = f.password_field :password_confirmation
    %br/
    %div= f.submit "Mudar de senha", :class => 'btn'
