%h1 Esqueceu sua senha?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %p= "Não se preocupe, é normal. Faz o seguinte: digite seu Email no campo abaixo que nós lhe enviaremos seu login e senha."
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email
    = f.submit "Enviar", :class => 'btn'
