#date_weather.widget.margin_bottom
  .date= raw Time.now.localtime.strftime("%d <span class='month'>%B</span>")
  .icon
    %h2= weather_category
    %h2= day_or_night
  .max.forecast
    .label Max
    .temp= WeatherWidget.weather['item']['yweather:forecast'][0]['high']
  .min.forecast
    .label Min
    .temp= WeatherWidget.weather['item']['yweather:forecast'][0]['low']

