.grid_12
  .issue_name= link_to "ISSUE NAME", "#"
%h1.grid_12{ "data-debate" => @debate.id }
  = @debate.title
  .outline= @debate.title

- if !@debate.comments.empty? || @comment
  .grid_10.push_1
    .comments
      .previous_comments
        %h3 Comment prompt
        = image_tag "/assets/comments_arrow.png", :id => "comments_arrow"
        .subtitle
          -if @comment
            = link_to t("debate_show.join_the_conversation"), "#new_comment", :class => "join_the_conversation"
          -else
            =link_to t("debate_show.join_the_conversation"), "#login", :rel => "facebox", :class => "join_the_conversation"

          .comments_tooltip= @comments.count
          .clearfix
        - @comments.first(5).each do |comment|
          = render :partial => "comments/comment", :locals => { :comment => comment }
      -if !@debate.comments.empty?
        #bottom_buttons
          -if @comment
            = link_to t("debate_show.join_the_conversation"), "#new_comment", :class => "join_the_conversation"
          -else
            =link_to t("debate_show.join_the_conversation"), "#login", :rel => "facebox"

          #load_more= t("debate_show.load_more")
      - if @comment
        #new_comment
          #close
            =image_tag "/assets/close.png"
          = form_for @comment, :remote => true, :html => { 'data-type' => :html } do |form|
            = image_tag current_member.image_url
            = form.text_area :content, :class => 'required'
            = hidden_field(:debate, :id)
            = form.submit "Enviar", :class => "btn"
:javascript
  var flag_label = "#{t("flag")}"
  var unflag_label = "#{t("unflag")}"
