.grid_12
  .issue_name
    .sprite.debate
    = link_to @debate.issue.name, issue_path(@debate.issue)
%h1.grid_12{ "data-debate" => @debate.id }
  = @debate.title

.share.grid_1.prefix_10
  <!-- AddThis Button BEGIN -->
  <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4e414cea7d1fee4b"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
  <!-- AddThis Button END -->
  :javascript
    var addthis_config = {
              services_compact: 'email, facebook, orkut, twitter',
              services_exclude: 'formspring'
    }
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e414cea7d1fee4b"></script>
  <!-- AddThis Button END -->

.grid_12
  .debate_header.clearfix
    %h2= @debate.question
    .date= l @debate.created_at.to_date, :format => :long
    .little_ball ·
    .comments_counter 
      %a.comments_link{:href=> '#comments_top'}
        .sprite.comments_tooltip
        %span
          = @distinct_member_count
      = (@distinct_member_count == 1 ? t("debate_show.have_joined_the_conversation") : t("debate_show.have_joined_the_conversation_plural"))

.grid_10.prefix_1
  .authors
    .quotes.clearfix
      .author1
        .balloon.sprite.balloon_left
          .content
            = "\"#{@debate.quote_side_1}\""
      .author2
        .balloon.sprite.balloon_right
          .content
            = "\"#{@debate.quote_side_2}\""
    
    .names.clearfix
      .author1
        = link_to @debate.author_1, :class => "profile"  do
          = image_tag @debate.author_1.image_url, :height => 60, :width => 60
        = link_to @debate.author_1 do
          %p.name= @debate.author_1.name
        %p.bio= "#{@debate.author_title_side_1}, #{@debate.author_organization_side_1}"
      .author2
        = link_to @debate.author_2, :class => "profile" do
          = image_tag @debate.author_2.image_url, :height => 60, :width => 60
        = link_to @debate.author_2 do
          %p.name= @debate.author_2.name
        %p.bio= "#{@debate.author_title_side_2}, #{@debate.author_organization_side_2}"
    
    .texts.clearfix
      .author1= raw @debate.text_side_1.gsub("\n", "<br /><br />")
      .author2= raw @debate.text_side_2.gsub("\n", "<br /><br />")

#comment_area.grid_10.push_1
  .comments
    %a{:name => "comments_top"}
    %h3= @debate.comment_prompt
    = image_tag "/assets/comments_arrow.png", :id => "comments_arrow"
    .subtitle
      -if @comment
        = link_to t("debate_show.join_the_conversation"), "#new_comment", :class => "join_the_conversation"
        = image_tag "/assets/loading.gif", :class => "new_comment_loading", :style => "display:none"
      -else
        =link_to t("debate_show.join_the_conversation"), "#login", :rel => "facebox", 'data-record-fragment' => 'new_comment', :class => "btn comment_login"

      %div
        .sprite.comments_tooltip_large
        %span= @comments.count
      .clearfix
    .previous_comments
      - @comments.first(5).each do |comment|
        = render :partial => "comments/comment", :locals => { :comment => comment }
    -if !@debate.comments.empty?
      #bottom_buttons
        %a{:name => "comments_bottom"}
        -if @comment
          = link_to t("debate_show.join_the_conversation"), "#new_comment", :class => "join_the_conversation"
          = image_tag "/assets/loading.gif", :class => "new_comment_loading", :style => "display:none"
        -else
          = link_to t("debate_show.join_the_conversation"), "#login", :rel => "facebox", 'data-record-fragment' => 'new_comment', :class => "btn comment_login"
        .load_more.load_more_link= t("debate_show.load_more")
    - if @comment
      #new_comment
        #close
          =image_tag "/assets/orange_close_icon.png"
        = form_for @comment, :remote => true, :html => { 'data-type' => :html } do |form|
          = image_tag current_member.image_url
          = form.text_area :content, :class => 'required', :placeholder => @debate.comment_prompt
          = hidden_field(:debate, :id)
          = form.submit "Enviar", :class => "btn"
:javascript
  var flag_label = "#{t("flag")}"
  var unflag_label = "#{t("unflag")}"
=content_for :javascripts do
  :javascript
