.grid_12
  .issue_name= link_to @debate.issue.name, issue_path(@debate.issue)
%h1.grid_12{ "data-debate" => @debate.id }
  = @debate.title
  .outline= @debate.title

.share.grid_1.prefix_11
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e3043431fd4aaea"></script>
  <!-- AddThis Button END -->

.grid_12
  .debate_header.clearfix
    %h2= @debate.question
    .date= l @debate.created_at.to_date, :format => :long
    .little_ball ·
    .comments_counter 
      %a.comments_link{:href=> '#comments_top'}
        .comments_tooltip= @comments.count
      = t("debate_show.have_joined_the_conversation")

.grid_10.prefix_1
  .authors
    .names.clearfix
      .author1
        %p.name= @debate.author_1.name
        %p.bio= "#{@debate.author_title_side_1}, #{@debate.author_organization_side_1}"
      .author2
        %p.name= @debate.author_2.name
        %p.bio= "#{@debate.author_title_side_2}, #{@debate.author_organization_side_2}"
    
    .quotes.clearfix
      .author1
        = image_tag @debate.author_1.image_url
        .balloon
          .content
            = "\"#{@debate.quote_side_1}\""
      .author2
        = image_tag @debate.author_2.image_url
        .balloon
          .content
            = "\"#{@debate.quote_side_2}\""
    
    .texts.clearfix
      .author1= raw @debate.text_side_1.gsub("\n", "<br /><br />")
      .author2= raw @debate.text_side_2.gsub("\n", "<br /><br />")

- if !@debate.comments.empty? || @comment
  .grid_10.push_1
    .comments
      %a{:name => "comments_top"}
      .previous_comments
        %h3 Comment prompt
        = image_tag "/assets/comments_arrow.png", :id => "comments_arrow"
        .subtitle
          -if @comment
            = link_to t("debate_show.join_the_conversation"), "#new_comment", :class => "join_the_conversation"
          -else
            =link_to t("debate_show.join_the_conversation"), "#login", :rel => "facebox", 'data-record-fragment' => 'new_comment', :class => "comment_login"

          .comments_tooltip= @comments.count
          .clearfix
        - @comments.first(5).each do |comment|
          = render :partial => "comments/comment", :locals => { :comment => comment }
      -if !@debate.comments.empty?
        #bottom_buttons
          %a{:name => "comments_bottom"}
          -if @comment
            = link_to t("debate_show.join_the_conversation"), "#new_comment", :class => "join_the_conversation"
          -else
            =link_to t("debate_show.join_the_conversation"), "#login", :rel => "facebox", 'data-record-fragment' => 'new_comment', :class => "comment_login"
          #load_more= t("debate_show.load_more")
      - if @comment
        #new_comment
          #close
            =image_tag "/assets/close.png"
          = form_for @comment, :remote => true, :html => { 'data-type' => :html } do |form|
            = image_tag current_member.image_url
            = form.text_area :content, :class => 'required', :placeholder => "Comment prompt" 
            = hidden_field(:debate, :id)
            = form.submit "Enviar", :class => "btn"
:javascript
  var flag_label = "#{t("flag")}"
  var unflag_label = "#{t("unflag")}"
