#homepage
  .widget_container.margin_bottom.clearfix
    .widget.margin_right.placeholder
      =image_tag 'http://placehold.it/620x300'

    .widget.placeholder.margin_bottom
      =image_tag 'http://placehold.it/300x60'

    .widget.placeholder
      =image_tag 'http://placehold.it/300x220'

  .widget_container.left.margin_right.clear_fix{:style => 'width:300px;'}
    .widget.margin_bottom.placeholder
      =image_tag 'http://placehold.it/300x220'

    .widget.placeholder
      =image_tag 'http://placehold.it/300x140'

  .widget_container.left.margin_bottom.margin_right{:style => 'width:auto;'}
    .widget.placeholder
      =image_tag 'http://placehold.it/140x380'

  .widget_container{:style => 'float:left; width:auto;'}
    .widget.margin_bottom.placeholder
      =image_tag 'http://placehold.it/460x300'

  .widget_container{:style => 'float:left; width:auto;'}
    .widget.placeholder
      =image_tag 'http://placehold.it/140x60'

  .widget_container{:style => 'float:right; width:auto; margin-right:10px;'}
    .widget.placeholder
      =image_tag 'http://placehold.it/300x220'

  .widget_container.left{:style => 'width:auto;'}
    .widget.placeholder
      =image_tag 'http://placehold.it/620x140'



.clearfix

%br
%br
%br

%h2
  QA Information

.grid_6
  %strong Issues:
  %br
  - Issue.all.each do |issue|
    %p= link_to issue.name, issue_path(issue)

  %strong Petitions:
  %br
  - Petition.all.each do |petition|
    -if petition.complete?
      %p= link_to petition.title, custom_petition_path(petition.custom_path)
    - else
      %p= "Petition named '#{petition.title}' is not complete"

  %strong Debates:
  %br
  - Debate.all.each do |debate|
    %p= link_to debate.title, debate_path(debate)

  %strong Personal Stories:
  %br
  - Issue.all.each do |issue|
    %p= link_to issue.name, issue_personal_stories_path(issue)

  %strong Pages:
  %br
  %p= link_to "About", page_path("about")
  %p= link_to "Privacy Policy", page_path("privacy_policy")
  %p= link_to "Jobs", page_path("trabalhe")

  %strong Members:
  %br
  - Member.all.each do |member|
    %p= link_to member.name, member_path(member)

.grid_6
  %strong Featured Content QA:
  %br
  - FeaturedContentWidget.all.each do |w|
    .widget
      = link_to(image_tag(w.image.url), w.link)

  %strong Image Widget QA:
  %br
  - ImageWidget.all.each do |w|
    .widget
      = image_tag(w.image.url(:medium))

  %strong Legislative Agenda Widget QA:
  %br
  - LegislativeAgendaWidget.all.each do |w|
    .widget
      =raw w.html_content

  %strong Meu Rio Team Widget QA:
  %br
  - MeuRioTeamWidget.all.each do |w|
    .widget
      =raw w.html_content

  %strong Meu Rio Is Widget QA:
  %br
  - MeuRioIsWidget.all.each do |w|
    .widget
      =raw w.html_content

  %strong Public Hearings Widget QA:
  %br
  - PublicHearingsWidget.all.each do |w|
    .widget
      =raw w.html_content

