.grid_6
  %strong Issues:
  %br
  - Issue.all.each do |issue|
    %p= link_to issue.name, issue_path(issue)

  %strong Petitions:
  %br
  - Petition.all.each do |petition|
    -if petition.complete?
      %p= link_to petition.title, issue_custom_petition_path(petition.issue_id, petition.custom_path)
    - else
      %p= "Petition named '#{petition.title}' is not complete"

  %strong Debates:
  %br
  - Debate.all.each do |debate|
    %p= link_to debate.title, debate_path(debate)

  %strong Personal Stories:
  %br
  - Issue.all.each do |issue|
    %p= link_to issue.name, issue_personal_stories_path(issue)

  %strong Pages:
  %br
  %p= link_to "About", page_path("about")
  %p= link_to "Privacy Policy", page_path("privacy_policy")
  %p= link_to "Jobs", page_path("trabalhe")

  %strong Members:
  %br
  - Member.all.each do |member|
    %p= link_to member.name, member_path(member)

.grid_6
  %strong Featured Content QA:
  %br
  - FeaturedContentWidget.all.each do |w|
    .widget
      = link_to(image_tag(w.image.url), w.link)

  %strong Image Widget QA:
  %br
  - ImageWidget.all.each do |w|
    .widget
      = image_tag(w.image.url(:medium))

  %strong Legislative Agenda Widget QA:
  %br
  - LegislativeAgendaWidget.all.each do |w|
    .widget
      =raw w.html_content

  %strong Meu Rio Team Widget QA:
  %br
  - MeuRioTeamWidget.all.each do |w|
    .widget
      =raw w.html_content

  %strong Meu Rio Is Widget QA:
  %br
  - MeuRioIsWidget.all.each do |w|
    .widget
      =raw w.html_content

  %strong Public Hearings Widget QA:
  %br
  - PublicHearingsWidget.all.each do |w|
    .widget
      =raw w.html_content

