- content_for :title do 
  = t("about_page.title")

#about
  .image.grid_12.alpha
    = image_tag "about/ilustra.png" 
  .us
    %h1.grid_12.omega= t "about_page.title"
    .text.grid_12.alpha
      = t "about_page.us.text"

  .our_platforms.grid_12
    %h2.head= t "about_page.platforms.header"
    %ul
      %li
        .grid_4.alpha= image_tag "about/mr.jpg"
        .grid_8.omega
          = t "about_page.platforms.mr.header_html"
          %p= t "about_page.platforms.mr.text"
      %li
        .grid_4.alpha= image_tag "about/pdp.jpg"
        .grid_8.omega
          = t "about_page.platforms.pdp.header_html"
          %p= t "about_page.platforms.pdp.text"
      %li
        .grid_4.alpha= image_tag "about/voc.jpg"
        .grid_8.omega
          = t "about_page.platforms.voc.header_html"
          %p= t "about_page.platforms.voc.text"

  .our_team.grid_6.alpha
    .text
      %h2= t "about_page.team.header"
      = t "about_page.team.text"
  .our_council.grid_6.omega
    .text
      %h2= t "about_page.council.header"
      = t "about_page.council.text"

