%h1.grid_12= t("about_page.title")

#about_image.grid_12
  = image_tag "/assets/rio.jpg"

#about_description.grid_8
  %p.noindent
    %span= t("about_page.intro")
    = link_to t("about_page.read_more"), "#why_and_goals", :class => "no_bold"

#join_meu_rio.grid_4
  %p
    = t("about_page.you_are_important")
    %b.sprite.arrow-down
    = link_to t("about_page.join_us"), "#join", :class => "btn", :rel => "facebox"

#what_you_can_do.grid_12
  %h2.grid_12.omega= t("about_page.what_you_can_do")
  %section.grid_3-5.alpha.wobble_container
    %header
      %h2= raw t("about_page.feature1_title")
    %div
      .sprite.icon.personal_story
      %p= t("about_page.feature1_text")
      = link_to t("about_page.video_link"), issue_personal_story_path(:issue_id => PersonalStory.first.issue_id, :id => PersonalStory.first.id) if PersonalStory.first
    %footer
  
  %section.grid_3-5.wobble_container
    %header
      %h2= raw t("about_page.feature2_title")
    %div
      .sprite.icon.debate
      %p= t("about_page.feature2_text")
      = link_to t("about_page.debate_link"), issue_debate_path(Debate.last.issue_id, Debate.last) if Debate.last
    %footer
  
  %section.grid_3-5.omega.wobble_container
    %header
      %h2= raw t("about_page.feature3_title")
    %div
      .sprite.icon.petition
      %p= t("about_page.feature3_text")
      =about_petition_link
    %footer

#quem_somos.grid_8
  %h2= t("about_page.who_we_are_title")
  %p= raw t("about_page.who_we_are_text").gsub("\n", "<br />")
  %h2#why_and_goals= t("about_page.why_and_goals")
  %h3= t("about_page.scenario_title")
  %p= raw t("about_page.scenario_text").gsub("\n", "<br />")
  %h3= t("about_page.mission_title")
  %p= raw t("about_page.mission_text").gsub("\n", "<br />")
  %h3= t("about_page.how_title")
  %p= raw t("about_page.how_text").gsub("\n", "<br />")
  %h3= t("about_page.and_you_title")
  %p= raw t("about_page.and_you_text").gsub("\n", "<br />")
  %h3 
    Quer nos ajudar a construir um Rio de Janeiro mais justo e democrático? 
    %br
    %a{:href=> "#join", :rel => "facebox"} Faça parte do Meu Rio!
  = link_to "Voltar ao Topo »", "#", :id => "back_to_top"

#quote_container.grid_4
  .speech_bubble_container
    .speech_bubble_top
    .speech_bubble
      %h3.noindent= t("about_page.what_we_are_doing")
      %p.date 28/07/2011
      %p
      = link_to t("about_page.read_more_on_blog"), "http://meu-rio.tumblr.com/", :target => '_blank'
    
  .speech_bubble_container.orange
    .speech_bubble_top
    .speech_bubble
      %h3.noindent= t("about_page.follow_us")
      = link_to 'facebook', "https://www.facebook.com/meurio", :target => "_blank", :class => "sprite facebook ir"
      = link_to 'twitter', "http://twitter.com/Meu_Rio", :target => "_blank", :class => "sprite twitter ir"
      = link_to 'orkut', "http://www.orkut.com.br/Community?cmm=117834170&refresh=1", :target => "_blank", :class => "sprite orkut ir"
