= content_for :title do
  = "Boca no trombone! #{@issue.name}"
= content_for :meta_tags do
  %meta{ :property => "og:title", :content => "Boca no trombone! #{@issue.name}" }
  %meta{ :property => "og:image", :content => @issue.thumbnail }
  %meta{ :property => "og:url", :content => request.url }
  %meta{ :property => "og:description", :content => "Mande uma carta pro Globo pedindo que o reajuste do salário do governador e dos secretários não seja sancionado." }

.grid_6
  .issue_name
    = link_to @issue.name, issue_path(@issue)
  %h1 Boca no trombone

.grid_6
  .grid_6.alpha.omega
    .share_btn
      %a.twitter-share-button{"data-lang" => "pt", "data-url" => request.url, :href => "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .grid_6.alpha.omega
    .share_btn
      .fb-like{"data-href"=>request.url, "data-send"=>"false", "data-layout"=>"button_count", "data-width"=>"120", "data-show-faces"=>"false"}
      #fb-root
      :javascript
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=198830483539172";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

.grid_12
  .grid_6.alpha
    = form_for @letter do |form|
      = form.hidden_field :issue_id, :value => @issue.id
      /
        %h2 Escreva a sua carta para O Globo!
      %p
        = form.label :sender
        = form.text_field :sender
      %p
        = form.label :email
        = form.text_field :email
      %p
        = form.label :address
        = form.text_field :address
      %p
        = form.label :city
        = form.text_field :city
      %p
        = form.label :phone
        = form.text_field :phone
      %p
        = form.label :subject
        = form.text_field :subject
      %p
        = form.label :message
        = form.text_area :message
      = form.submit "Enviar", :class => "btn"

  .grid_6.omega
    %p Na última quinta-feira 8 de março, prazo para que os questionamentos sobre as obras do Metrô no Rio fossem enviados à Comissão Estadual de Controle Ambiental (CECA), o Movimento Meu Rio, junto com diversas associações de moradores, entregaram um abaixo assinado ao presidente da comissão, Antônio Carlos Gusmão. As mais de 3.500 assinaturas do documento pediam a não concessão da licença ambiental para as obras de expansão da linha 1 do metrô. O presidente da Comissão protocolou a entrega e tirou uma foto no ato, que você pode conferir no nosso blog (meu-rio.tumblr.com/)

    %p Aproveitamos a ocasião para saber mais sobre o processo de Licenciamento, e descobrimos que a CECA é constituída por um colegiado de 15 pessoas que representam instituições como o INEA, a FIRJAN, IBAMA o CREA e algumas universidades. São essas pessoas que decidem se a licença para a obra deve ou não ser concedida, baseada no Estudo de Impacto Ambiental do Governo. A licença ambiental é o último documento que impede as obras de continuarem e se ela for concedida é bem difícil que a sociedade tenha a chance de discutir qual é o melhor traçado de metrô para o Rio.


    %p A CECA se reúne semanalmente para essas deliberações e a expectativa é que nas próximas semanas aconteça a reunião onde será dada a palavra final. Por isso, a partir do dia 12 de Março cada membro do Meu Rio vai enviar uma mensagem para cada um dos membros do colegiado pedindo que eles desconsiderem o EIA/RIMA apresentado pelo Governo, já que o mesmo possui erros grosseiros, como a afirmação de que o Rio é o estado mais populoso do País e de que a previsão de 6 passageiros por metro quadrado é um padrão razoável de conforto. O futuro do metrô do Rio está nas mãos dessas 15 pessoas e o Meu Rio vai fazer de tudo para que essa decisão não seja uma sentença para a cidade
