= content_for :title do
  = "Boca no trombone! #{@issue.name}"
= content_for :facebook_properties do
  %meta{ :property => "og:url", :content => request.url }

.grid_6
  .issue_name
    = link_to @issue.name, issue_path(@issue)
  %h1 Boca no trombone

.grid_6
  .grid_6.alpha.omega
    .share_btn
      %a.twitter-share-button{"data-lang" => "pt", "data-url" => request.url, :href => "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .grid_6.alpha.omega
    .share_btn
      .fb-like{"data-href"=>request.url, "data-send"=>"false", "data-layout"=>"button_count", "data-width"=>"120", "data-show-faces"=>"false"}
      #fb-root
      :javascript
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=198830483539172";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

.grid_12
  .grid_6.alpha
    = form_for @letter do |form|
      = form.hidden_field :issue_id, :value => @issue.id
      /
        %h2 Escreva a sua carta para O Globo!
      %p
        = form.label :sender
        = form.text_field :sender
      %p
        = form.label :email
        = form.text_field :email
      %p
        = form.label :subject
        = form.text_field :subject, :value => "Recado para o Governador"
      %p
        = form.label :message
        = form.text_area :message, :value => "Prezado Governador,\nPeço que o Senhor revogue o decreto  25.997 do ano 2.000, que dá poderes ao Presidente da CEDAE de aumentar a tarifa do serviço como bem entender.\nHoje o tratamento de esgoto é precário, muita gente recebe a conta sem ter o serviço, e a maioria das famílias cariocas ainda é obrigada a recorrer a água imunda e fossas à céu aberto. É tamanho o descaso da CEDAE que ela ainda nem publicou um plano detalhado de expansão da rede. Enquanto isso, o presidente Wagner Victer se sente à vontade para aumentar o preço da água em quase 10% para todos os cariocas, e quase 14% para os que não têm rede de esgoto. Ou seja: o Rio todo perde, e os mais pobres são os mais prejudicados.\nPara a gente transformar essa realidade, o Senhor precisa revogar o decreto 25.997/2000, que dá super-poderes ao presidente da CEDAE. Esse é o nosso primeiro objetivo na missão de garantir 100% de saneamento básico na cidade do Rio.\nContamos com seu compromisso com a sociedade.\nSinceramente"
      = form.submit "Enviar", :class => "btn"

  .grid_6.omega
    %p A nossa missão é garantir 100% de saneamento para o Rio. Você já faz parte deste movimento, e já assinou a petição exigindo que o governador revogue o decreto que dá ao presidente da CEDAE o poder de impor aumentos de tarifa como ele bem entender. Mas por enquanto, o governador ainda não deu uma resposta a você e aos outros milhares de cariocas que se uniram nessa demanda.

    %p Então, resolvemos dar um jeito de garantir que todo mundo que trabalha com o governador conhecerá a nossa mobilização: vamos todos ligar HOJE diretamente para o seu gabinete, e pedir pra ele revogar o decreto!  Se todos nós ligarmos, o telefone vai tocar o dia inteiro, todos que trabalham no gabinete vão saber que estamos nos mobilizando e não vai ter jeito: isso vai chegar nos ouvidos do Governador! Você pode tirar um minuto do seu dia para fazer essa ligação? Assista o vídeo e saiba como!

    %p Depois de ligar para o gabinete, envie a mensagem ao lado para os assessores do Governador. É rapidinho e se os assessores receberem milhares de emails pedindo a revogação do decreto, nossa mensagem será repassada!

    %p Revogar esse decreto é só o primeiro passo para garantirmos saneamento básico para todos os cariocas. Já estamos fazendo barulho! Semana passada, aumentamos o volume enviando a petição pros nossos amigos e familiares. Agora, vamos garantir que a nossa mobilização chegue nos ouvidos do Governador Sérgio Cabral, ligue e envie uma mensagem já! 
