= content_for :title do
  = "Envie um e-mail para a secretária de educação"
= content_for :facebook_properties do
  %meta{ :property => "og:url", :content => request.url }
  %meta{ :property => "og:image", :content => "http://i.imgur.com/bi3MV.jpg" }
  %meta{ :property => "og:title", :content => "Clique para pedir para a secretária se manifestar contra a demolição da escola Friedenreich" }
  %meta{ :property => "og:description", :content => "A Secretária de Educação Claudia Costin pode definir o futuro da E.M. Friedenreich. Peça para ela se manifestar oficialmente contra a demolição da 10ª melhor escola do Brasil." }

.grid_12
  .issue_name
    = link_to @issue.name, issue_path(@issue)
  %h1 Envie um e-mail para a secretária de educação

.grid_12
  .grid_6.alpha
    - if flash[:notice]
      .thanks Obrigado por enviar o seu e-mail diretamente para a Claudia Costin. Agora compartilhe essa ação com seus amigos e família:
      .share
        %h3 Compartilhe no Facebook
        .fb-like{"data-href"=>request.url, "data-send"=>"true", "data-layout "=>"button_count", "data-width"=>"120", "data-show-faces"=>"true"}
        %p 
          %strong Peça para a Secretária se manifestar contra a demolição da escola Friedenreich.
        %p
          %em A Secretária de Educação Claudia Costin pode definir o futuro da E.M. Friedenreich. Peça para ela se manifestar oficialmente contra a demolição da 10ª melhor escola do Brasil.
        #fb-root
        :javascript
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=198830483539172";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      .share
        %h3 Compartilhe no Twitter
        <a href="https://twitter.com/intent/tweet?button_hashtag=voc%C3%AA%C3%A9Asecret%C3%A1ria&text=.%40ClaudiaCostin%20manifeste%20publicamente%20seu%20apoio%20contra%20a%20demoli%C3%A7%C3%A3o%20da%20escola%20Friedenreich" class="twitter-hashtag-button" data-lang="pt" data-size="large" data-url="http://bit.ly/TECGTK">Tweet #voc%C3%AA%C3%A9Asecret%C3%A1ria</a>
        %p
          %em .@ClaudiaCostin manifeste publicamente seu apoio contra a demolição da escola Friedenreich #vocêéAsecretária
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    - else
      = form_for @letter do |form|
        = form.hidden_field :issue_id, :value => @issue.id
        /
          %h2 Escreva a sua carta para O Globo!
        %p
          = form.label :sender
          = form.text_field :sender
        %p
          = form.label :email
          = form.text_field :email
        %p
          = form.label :subject
          = form.text_field :subject, :value => "Precisamos da sua posição"
        %p
          = form.label :message
          = form.text_area :message, :value => "Prezada Secretária Municipal de Educação, Claudia Costin,\n\nNa audiência pública do dia 8/11/2012 o Secretário da Casa Civil Régis Fichtner declarou que o futuro da Escola Municipal Friedenreich está nas mãos da administração municipal. Disse também que a retirada da Escola do Maracanã não irá interferir no seu projeto pedagógico.\n\nPorém nós sabemos que a Friedenreich só é a décima melhor escola do Brasil por causa da sua equipe pedagógica, dos pais e dos alunos que constroem esse espaço diariamente. Sabemos também, que muitos profissionais e alunos não poderão acompanhar uma saída da escola do Maracanã, por questões de acessibilidade, oferta de transporte público e mudança de CRE. Outra preocupação é a falta de coerência nas informações divulgadas pelo poder público, que a todo momento se contradiz em comunicados à imprensa e nunca diretamente aos pais e professores. Tampouco há garantias legais sobre a possível construção de uma nova escola antes da demolição da Friedenreich.\n\nComo você bem disse no seu Twitter: \"nada está definido\". E nós sabemos que você pode ajudar a definir essa história. Por isso te apoiamos na luta para manter a escola Friedenreich de pé e pedimos que a Sra., sendo a pessoa com mais embasamento técnico na área da Educação em toda essa discussão, se pronuncie publicamente contra a retirada da Friedenreich do Maracanã. Precisamos definir rápido o futuro da Friedenreich, já que até agora a única coisa que o Governo se preocupou em confirmar foi a demolição.\n\nSabemos que a sua posição não é fácil. Por isso lhe damos todo o nosso apoio e é fundamental que a Sra. se posicione publicamente, pois só assim as outras centenas de milhares de cariocas que ainda não conhecem a história da E.M. Friedenreich saberão do absurdo que está para acontecer.\n\nCom esperança, um carioca."
        .counter 
          %span= @issue.letters.count
          e-mails enviados
        = form.submit "Enviar", :class => "btn"

  .grid_6.omega
    %img{:src => "http://i.imgur.com/bi3MV.jpg", :width => "460"}
    %p 
      Graças à nossa mobilização, os pais e alunos da Escola Municipal Friedenreich não entraram na audiência pública da última quinta-feira sozinhos. Com eles, havia a força de mais de 16 mil cariocas. 
      %strong Nós fizemos tanta pressão no Governo Estadual que o Secretário da Casa Civil passou a bola para a Prefeitura, que ainda precisa ceder o terreno da escola para o Estado. 
    %p 
      %strong Para a nossa sorte existe uma pessoa dentro da Prefeitura que tem muita influência com o Prefeito e que já se manifestou contra a demolição da escola: a Secretária Municipal de Educação, Claudia Costin. 
      Precisamos que ela se manifeste oficialmente contra a demolição e para isso 
      %strong vamos mandar milhares de mensagens de apoio à Secretária para mostrar que, se ela comprar essa briga, ela também não estará sozinha.
