= content_for :title do
  = "Envie um e-mail para a Presidente do IPHAN"
= content_for :facebook_properties do
  %meta{ :property => "og:url", :content => request.url }
  %meta{ :property => "og:image", :content => "http://i.imgur.com/RcXIhSL.jpg" }
  %meta{ :property => "og:title", :content => "Envie um e-mail para a Presidente do IPHAN" }
  %meta{ :property => "og:description", :content => "Clique para pedir que o IPHAN preserve a Aldeia Maracanã! Até o Governador do Rio aceitou o tombamento do antigo Museu do Índio. Mas nós sabemos que se o tombamento for feito pelo Governador, ele mesmo poderá desfazê-lo. Vamos pedir para o órgão competente, o IPHAN, preservar a Aldeia Maracanã. Mande agora uma mensagem pra Presidente Jurema de Souza!" }

.grid_12
  .issue_name
    = link_to @issue.name, issue_path(@issue)
  %h1 Envie uma mensagem para a Presidente do IPHAN!

.grid_12
  .grid_6.alpha
    - if flash[:notice]
      .thanks Obrigado por enviar o seu e-mail diretamente para o IPHAN. Agora compartilhe essa ação com seus amigos e família:
      .share
        %h3 Compartilhe no Facebook
        .fb-like{"data-href"=>request.url, "data-send"=>"true", "data-layout "=>"button_count", "data-width"=>"120", "data-show-faces"=>"true"}
        %p 
          %strong Envie uma mensagem para a Presidente do IPHAN!
        #fb-root
        :javascript
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=198830483539172";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      .share
        %h3 Compartilhe no Twitter
        %a{:href => "https://twitter.com/share", :class => "twitter-share-button", "data-url" => "http://bit.ly/WxMgbs", "data-lang" => "pt", "data-size" => "large"} Tweetar
        %p
          %em Envie uma mensagem para a Presidente do IPHAN!
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    - else
      = form_for @letter do |form|
        = form.hidden_field :issue_id, :value => @issue.id
        /
          %h2 Escreva a sua carta para O Globo!
        %p
          = form.label :sender
          = form.text_field :sender
        %p
          = form.label :email
          = form.text_field :email
        %p
          = form.label :subject
          = form.text_field :subject, :value => "Vamos preservar o antigo Museu do Índio!"
        %p
          = form.label :message
          = form.text_area :message, :value => "Prezada Jurema de Souza,\n\nO Governo do Estado do Rio de Janeiro anunciou ontem sua intenção de tombar o antigo Museu do Índio, evitando a sua demolição. Porém, nós sabemos que se o tombamento for feito pelo Governador, ele próprio ou seus sucessores poderão voltar atrás e demolir o prédio no futuro. A única forma de termos certeza de que o tombamento será respeitado é com uma decisão do IPHAN. Por isso apelamos à você, para que preserve esse espaço tão importante para a nossa história!\n\nOs órgãos existentes para preservar o patrimônio no Rio de Janeiro (Conselho Municipal de Patrimônio e Instituto Estadual de Patrimônio e Cultura) já se manifestaram a favor do tombamento do Museu. Contamos agora com você, como aliada dos milhares de cidadãos que estão se mobilizando pela preservação da nossa história. Unimos nossas vozes aos índios e pedimos: Tombe o antigo Museu do Índio do Rio por sua vinculação a fatos memoráveis da história do Brasil!\n\nContamos com a sua decisão!\n\nCom esperança"
        .counter 
          %span= @issue.letters.count
          e-mails enviados
        = form.submit "Enviar", :class => "btn"

  .grid_6.omega
    %img{:src => "http://i.imgur.com/6KSZzSR.jpg", :width => "460"}
    %p
      %strong O Governo do Estado do Rio de Janeiro anunciou ontem sua intenção de tombar o antigo Museu do Índio, evitando a sua demolição.
      Essa é uma conquista sua e dos outros milhares de brasileiros que pediram que o espaço não virasse um estacionamento. Porém, nós sabemos que 
      %strong se o tombamento for feito pelo Governador, ele próprio ou seus sucessores poderão voltar atrás e demolir o prédio no futuro. A única forma de termos certeza de que o tombamento será respeitado é com uma decisão do IPHAN, o órgão federal que tem a missão de proteger o patrimônio de todos os brasileiros.
    %p
      %strong Nesse exato momento, a Presidente do IPHAN, Jurema de Sousa, tem em suas mãos o pedido de tombamento feito pela Defensoria Pública da União. Por isso, não perca tempo: mande agora uma mensagem para a Presidente do IPHAN pedindo que ela aprove o pedido de tombamento do antigo Museu do Índio!
    %p
      A melhor maneira de proteger um espaço público importante para a nossa cultura é com uma ordem do IPHAN. Tombamentos feitos pelo Governo do Estado ou pela Prefeitura podem ser facilmente desfeitos, como nos casos conhecidos do Parque Aquático Julio Delamare e do Estádio de Atletismo Celio de Barros. Não vamos correr o risco desta história triste se repetir no caso do Museu do Indio. A hora de agir é agora! A Presidente do IPHAN pode proteger o Museu de verdade, e está com o pedido de tombamento em suas mãos neste exato momento. 
      %strong Vamos pedir pra ela assinar? A Ministra da Cultura, Marta Suplicy, já se manifestou a favor deste tombamento. Só está faltando a nossa voz.
    %p
      Depois que a gente conseguir garantir a permanência do antigo Museu do Índio, vamos pedir ao governo que a definição do uso deste local seja feita com a participação dos brasileiros, cariocas, e dos índios que há mais de 6 anos pedem que o lugar seja transformado num centro vivo de celebração da nossa cultura e da nossa história. Afinal, quem melhor do que nós todos para pensar em um monte de coisas bacanas que poderiam acontecer em um espaço tão importante? Vai ser uma história bonita, e ela só está começando. Chegou a hora do IPHAN fazer o que sabe fazer melhor: proteger o patrimônio dos brasileiros! 
      %strong Mande agora sua mensagem para a Presidente Jurema de Sousa!
