.container_12
  .grid_6
    %h2 Entrar
    = form_for resource, :url => "/members/sign_in" do |f|
      = f.label :email
      = f.email_field :email
      = f.label :password
      = f.password_field :password
      = link_to "Esqueceu sua senha?", new_password_path(resource_name), :class => "small"
      = f.submit t("sign_in"), :class => "btn"
  .grid_6
    %h2 Criar conta
