= form_for [:admin, @user] do |f|
  = f.error_messages

  .first_name
    = f.label :first_name
    = f.text_field :first_name
  .last_name
    = f.label :last_name
    = f.text_field :last_name
  .email
    = f.label :email
    = f.email_field :email
  .password
    = f.label :password
    = f.password_field :password
  .password-confirm
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.submit
