!!!
%html
  %head
    %title MeuRio
    = stylesheet_link_tag "application"
    %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}
    = csrf_meta_tags
    = yield :meta_tags
  %body{:class=> "#{controller.controller_name} #{controller.action_name}", 'data-controller' => controller_name, 'data-action' => action_name }
    %header.container_12
      =link_to image_tag("/assets/meu-rio.png"), root_path, :id => "logo", :class => "grid_2"
      .grid_3.prefix_7.member_panel
        - if current_member
          =image_tag current_member.image_url, :id => "member_thumbnail", :class => "right"
          %p=current_member.name
          %p=current_member.email
          - if session[:fb_token]
            %p=link_to t("logout"), facebook_logout_path
          - elsif session[:google_login]
            %p
              %a#google_logout_link{:href => google_logout_path, :target => 'google_logout_iframe'}= t('logout')
              %iframe#google_logout_iframe{:name => "google_logout_iframe", :style=> "display: none;"}
          - else
            %p=link_to t("logout"), destroy_member_session_path
        - else
          .join_login_wrap
            =link_to t("join_us"), "#", :id => "join_us_btn"
            =link_to t("login"), "#login", :rel => "facebox"
      =render :partial => "shared/main_navigation"
    #main.container_12
      - if notice
        %p.notice= notice
      - if alert
        %p.alert= alert
      = yield
    %footer.container_12
      %nav.grid_7.alpha
        =link_to "CONTATO", "mailto:info@meurio.org.br"
        |
        =link_to "POLÍTICA DE Privacidade", "/pages/privacy_policy"
        |
        =link_to "TRABALHE COM A GENTE", "/pages/trabalhe"
      %p.social.right.grid_4
        TAMBÉM ESTAMOS AQUI, Ó:
        =link_to image_tag('orkut_25.png'), "http://www.orkut.com/Main#Community?cmm=114209047", :target => "_blank"
        =link_to image_tag('twitter_25.png'), "http://twitter.com/#!/meu_rio", :target => "_blank"
        =link_to image_tag('facebook_25.png'), "http://www.facebook.com/pages/Meu-Rio", :target => "_blank"
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.1.min.js"%3E%3C/script%3E'))    
    =javascript_include_tag("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js")
    =javascript_include_tag("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    =javascript_include_tag "libs/underscore-1.1.6.min.js", "libs/modernizr-2.0.js", "libs/facebox", "libs/store", "application"
    = yield :javascripts
    /[if lt IE 7 ]
      <script src="assets/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg');</script>
    :javascript
      var _gaq=[['_setAccount','#{SITE['ga_tracking_code']}'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

  = render :partial => "shared/login"
