!!!
%html
  %head
    %title MeuRio
    = stylesheet_link_tag "960", "application"
    %link{:href => "/assets/logo.png", :rel => "shortcut icon"}/
    = csrf_meta_tags
  %body
    .container_12
      %header.grid_12
        .logo.grid_2= link_to image_tag("/images/logo.png"), root_path
        %nav
      %p.notice= notice
      %p.alert= alert
      #main.grid_12= yield
      %footer
      %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}

    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.1.min.js"%3E%3C/script%3E'))    
    =javascript_include_tag "libs/json2.js", "libs/underscore-1.1.6.min.js", "libs/modernizr-2.0.js", "libs/backbone-0.3.3.min.js",      "application"                         
    /[if lt IE 7 ]
      <script src="assets/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg');</script>
    :javascript
      var _gaq=[['_setAccount','#{SITE['ga_tracking_code']}'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  
