!!!
%html
  %head
    %title MeuRio
    = stylesheet_link_tag "960", "application"
    %link{:href => "/assets/logo.png", :rel => "shortcut icon"}
    = csrf_meta_tags
    = yield :meta_tags
  %body{:class=> controller.controller_name }
    %header.container_12
      .logo.alpha.grid_2= link_to image_tag("/images/logo.png"), root_path
      %nav.omega.prefix_2.grid_8
        %a{:href => "#login", :rel => "facebox"} Login
      %nav.omega.prefix_2.grid_8
        =link_to 'Lorem Ipsum'
        |
        =link_to 'Lorem Ipsum'
        |
        =link_to 'Lorem Ipsum'
        |
        =link_to 'Lorem Ipsum'
        |
        =link_to 'Lorem Ipsum'
    #main.container_12
      %p.notice= notice
      %p.alert= alert
      = yield
    %footer.container_12

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.1.min.js"%3E%3C/script%3E'))    
    =javascript_include_tag("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js")
    =javascript_include_tag "libs/underscore-1.1.6.min.js", "libs/modernizr-2.0.js", "libs/facebox", "application"
    = yield :javascripts
    /[if lt IE 7 ]
      <script src="assets/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg');</script>
    :javascript
      var _gaq=[['_setAccount','#{SITE['ga_tracking_code']}'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  
  = render :partial => "layouts/login"
