!!!
<!--[if lt IE 7]>
%html{:class=> "ie ie6 lte9 lte8 lte7"}
<![endif]-->
<!--[if IE 7]>
%html{:class=> "ie ie7 lte9 lte8 lte7"}
<![endif]-->
<!--[if IE 8]>
%html{:class=> "ie ie8 lte9 lte8"}
<![endif]-->
<!--[if IE 9]>
%html{:class=> "ie ie9 lte9"}
<![endif]-->
<!--[if gt IE 9]>
%html{:class=> "ie"}
<![endif]-->
<!--[if !IE]><!-->
%html
  <!--<![endif]-->
  %head
    %title MeuRio
    = stylesheet_link_tag "application"
    %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}
    = csrf_meta_tags

    %meta{ :property => "fb:app_id", :content => "#{SITE['fb_app_id']}" }
    %meta{ :property => "og:title",  :content => "#{SITE['og_title']}" }
    %meta{ :property => "og:type",   :content => "#{SITE['og_type']}" }

    -if(content_for :meta_tags).empty?
      %meta{ :property => "og:image",       :content => "#{SITE['og_image']}" }
      %meta{ :property => "og:url",         :content => "#{SITE['og_url']}" }
      %meta{ :property => "og:description", :content => "#{SITE['og_description']}" }
    -else
      =yield(:meta_tags)

    =javascript_include_tag "libs/modernizr-2.0.6.js"
  %body{:class=> "#{controller.controller_name} #{controller.action_name}", 'data-controller' => controller_name, 'data-action' => action_name }
    - unless flash[:welcome].blank? && flash[:alert].blank? && flash[:notice].blank?
      .container_12.messages.clearfix
        .grid_11.alpha
          =raw(flash[:welcome])
          =raw(flash[:alert])
          =raw(flash[:notice])
        .grid_1.omega
          %a{:href => '#', :id => "close_messages"}= image_tag asset_path('close_messages.png')
    %header.container_12
      %a{:href => "#{root_path}", :class => "grid_2 ir"}
        %span.sprite.logo
        %span.sprite.tagline
      .grid_3-5
        #member_panel.member_panel
          - if current_member
            .right.info
              .left
                =image_tag current_member.current_image_url(:thumb), :id => "member_thumbnail", :width => '50', :height => '50', :class => ""
                %p=link_to current_member.first_name, member_path(current_member)
              .arrow
            .flyout.left
              %p=link_to t("edit_your_profile"), member_path(current_member)
              - if session[:fb_token]
                %p=link_to t("logout_menu"), facebook_logout_path
              - elsif session[:google_login]
                %p
                  %a#google_logout_link{:href => google_logout_path, :target => 'google_logout_iframe'}= t('logout_menu')
                  %iframe#google_logout_iframe{:name => "google_logout_iframe", :style=> "display: none;"}
              - else
                %p=link_to t("logout_menu"), destroy_member_session_path
          - else
            .join_login_wrap
              =link_to t("join_us"), "#join", :rel => "facebox", :id => "join_us_btn"
              =link_to t("login"), "#login", :rel => "facebox"
          .clearfix
      =render :partial => "shared/main_navigation"
    #main.container_12
      - if flash[:preview]
        %p.preview= flash[:preview]
      = yield
    %footer.container_12
      %nav.grid_7.alpha
        =link_to "CONTATO", "mailto:info@meurio.org.br"
        |
        =link_to "POLÍTICA DE Privacidade", page_path("privacidade")
        |
        =link_to "TRABALHE COM A GENTE", page_path("trabalhe")
      %p.social.right.grid_4
        TAMBÉM ESTAMOS AQUI, Ó:
        =link_to 'Orkut', "http://www.orkut.com.br/Community?cmm=117834170&refresh=1", :target => "_blank", :class => "sprite orkut_small ir"
        =link_to 'Twitter', "http://twitter.com/#!/meu_rio", :target => "_blank", :class => "sprite twitter_small ir"
        =link_to 'Facebook', "https://www.facebook.com/meurio", :target => "_blank", :class => "sprite facebook_small ir"
      .grid_12
        <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.pt_BR"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>

    // Hidden elements
    = render :partial => "shared/login"
    = render :partial => "shared/join"
    = render :partial => "shared/already_logged"

    // Scripts
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.1.min.js"%3E%3C/script%3E'))    
    =javascript_include_tag "application"
    = yield :javascripts
    %script{:id => "flashTemplate", :type => "text/x-jquery-tmpl"}
      <div class="container_12 messages clearfix"><div class="grid_11 alpha">${flash}</div>
      <div class="grid_1 omega"><a href="#" id="close_messages"><img src="/assets/close_messages.png"></a></div></div>
    /[if lt IE 7 ]
      <script src="assets/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg');</script>
    :javascript
      var _gaq=[['_setAccount','#{SITE['ga_tracking_code']}'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));


