%h1.grid_12

.grid_4
  .profile_top
  .profile_mid
    = image_tag @member.image.url
    %h3= @member.name
    .date= t("members_show.joined_on", :date => l(@member.created_at, :format => :very_short))
    - if @member.bio
      .bio= t("members_show.bio")
      = @member.bio
  .profile_bot

.grid_8
  - if @member.meu_rio_is
    .meu_rio_is_top
      %h3= t("members_show.meu_rio_is")
    .meu_rio_is_mid
      = @member.meu_rio_is
    .meu_rio_is_bot
  .posts.grid_8.alpha.omega
    %h3
      = t("members_show.is_collaborating_in", :name => @member.first_name)
      = image_tag "/assets/comments_arrow.png"
    - @member.action_history.each do |item|
      .post.clearfix
        .icon.grid_1.alpha
          = image_tag "/assets/01_petition_icon.png" if item.instance_of? PetitionSignature
          = image_tag "/assets/02_debate_icon.png" if item.instance_of? Comment
        .content.grid_7.omega
          .date= l item.created_at, :format => :very_short
          .link
            = link_to t("members_show.signed_petition", :title => item.petition.title, :issue => item.petition.issue.name), issue_custom_petition_path(item.petition.issue.id, item.petition.custom_path) if item.instance_of? PetitionSignature
            = link_to t("members_show.commented_debate", :name => item.commentable.title, :issue => item.commentable.issue.name), debate_path(item.commentable) if item.instance_of? Comment
          .comment
            = "\"#{item.comment}\"" if item.instance_of? PetitionSignature
            = "\"#{item.content}\"" if item.instance_of? Comment
