%h1.grid_12

.grid_4.profile{'data-id' => @member.id }
  .profile_top
  .profile_mid
    .image
      = image_tag @member.image.url, :id => "member_picture"

      - if @member == current_member
        = link_to "#image_form", :id => "change_picture_btn", :rel => "facebox" do
          = image_tag "/assets/pencil.png"
          = t("members_show.change_picture")

    .name
      %h3
        .display.title= @member.name
        - if @member == current_member
          = link_to image_tag("/assets/pencil.png"), "#", :id => "change_name_btn", :class => "change"
          .clearfix
          #name-editor.edit
            =form_for @member do |f|
              =f.text_field :first_name 
              =f.text_field :last_name 
            .btn.small.confirm=link_to "OK", "#", :id => "name-confirm"
            .btn.small.cancel=link_to "Cancel", "#", :id => "name-cancel"

    .clearfix
    .date= t("members_show.joined_on", :date => l(@member.created_at, :format => :very_short))

    .info
      .email
        - if @member == current_member
          .title
            = t("members_show.email")
          =link_to image_tag("/assets/pencil.png"), "#", :id => "change_email_btn", :class => "change"
          .clearfix
          #email-editor.edit
            =form_for @member do |f|
              =f.text_field :email, :class => "email required"
            .btn.small.confirm=link_to "OK", "#", :id => "email-confirm"
            .btn.small.cancel=link_to "Cancel", "#", :id => "email-cancel"
          .display= @member.email
  
      .zone
        - if @member == current_member
          .title
            = t("members_show.zone")
          =link_to image_tag("/assets/pencil.png"), "#", :id => "change_zone_btn", :class => "change"
          .clearfix
          #zona-editor.edit
            =form_for @member do |f|
              =f.select :zona, options_for_select(['', 'Centro', 'Norte', 'Oeste', 'Sul', 'Eu não sou do Rio'], @member.zona)
            .btn.small.confirm=link_to "OK", "#", :id => "zona-confirm"
            .btn.small.cancel=link_to "Cancel", "#", :id => "zona-cancel"
          .display= @member.zona
  
      .bio
        - if @member.bio || @member == current_member
          .title
            = t("members_show.bio")
          - if @member == current_member
            = link_to image_tag("/assets/pencil.png"), "#", :id => "change_bio_btn", :class => "change"
            .clearfix
            #bio-editor.edit
              =form_for @member do |f|
                =f.text_area :bio, :rows => '5', :maxlength => "220"
              .btn.small.confirm=link_to "OK", "#", :id => "bio-confirm"
              .btn.small.cancel=link_to "Cancel", "#", :id => "bio-cancel"
          .clearfix
          .display= @member.bio

    - if @member == current_member
      .is_subscriber
        =form_for @member do |f|
          =f.check_box :is_subscriber
          =f.label :is_subscriber, t("members_show.is_subscriber")

  .profile_bot

.grid_8
  - if @member.meu_rio_is || @member == current_member
    .meu_rio_is_top
      %h3.title= t("members_show.meu_rio_is")
    .meu_rio_is_mid
      -if @member == current_member
        =link_to image_tag("/assets/pencil.png"), "#", :id => "change_meu_rio_is_btn", :class => "change"
      .clearfix
      - if @member == current_member
        #meu_rio_is-editor.edit
          =form_for @member do |f|
            =f.text_area :meu_rio_is, :rows => '3', :cols => '91', :maxlength => "160"
          .btn.small.confirm=link_to "OK", "#", :id => "meu_rio_is-confirm"
          .btn.small.cancel=link_to "Cancel", "#", :id => "meo_rio_is-cancel"
      .display= @member.meu_rio_is
    .meu_rio_is_bot
  .posts.grid_8.alpha.omega
    %h3
      = t("members_show.is_collaborating_in", :name => @member.first_name)
      = image_tag "/assets/comments_arrow.png"
    - @member.action_history.each do |item|
      .post.clearfix
        .icon.grid_1.alpha
          = image_tag "/assets/01_petition_icon.png" if item.instance_of? PetitionSignature
          = image_tag "/assets/02_debate_icon.png" if item.instance_of? Comment
        .content.grid_7.omega
          .date= l item.created_at, :format => :very_short
          .link
            = link_to t("members_show.signed_petition", :title => item.petition.title, :issue => item.petition.issue.name), issue_custom_petition_path(item.petition.issue.id, item.petition.custom_path) if item.instance_of? PetitionSignature
            = link_to t("members_show.commented_debate", :name => item.commentable.title, :issue => item.commentable.issue.name), issue_debate_path(item.commentable.issue_id, item.commentable) if item.instance_of? Comment
          .comment
            = "\"#{item.comment}\"" if item.instance_of? PetitionSignature
            = "\"#{item.content}\"" if item.instance_of? Comment

-if @member = current_member
  #image_form{ :style => "display: none;" }
    %header
      %h2 Upload Profile Photo
    =form_for @member, :html => { :multipart => true } do |f|
      =f.file_field :image
      =f.submit "Upload", :class => "btn"
