%h1.grid_12

.grid_4.profile{'data-id' => @member.id }
  .profile_top
  .profile_mid
    .image
      = image_tag @member.current_image_url, :id => "member_picture"

      - if @member == current_member
        = link_to "#image_form", :id => "change_picture_btn", :rel => "facebox" do
          = image_tag "/assets/pencil.png"
          = t("members_show.change_picture")

    .name
      %h3
        .display.title= @member.name
        - if @member == current_member
          = link_to image_tag("/assets/pencil.png"), "#", :id => "change_name_btn", :class => "change"
          #name-editor.edit
            =form_for @member do |f|
              =f.text_field :first_name, :class => "required left" 
              =f.text_field :last_name, :class => "required right" 
            .clearfix
            =link_to "OK", "#", :id => "name-confirm", :class => "btn small confirm"
            =link_to "Cancelar", "#", :id => "name-cancel", :class => "btn small cancel"
    .clearfix
    -if @member.confirmed_at
      .date= t("members_show.joined_on", :date => l(@member.confirmed_at, :format => :very_short))

    - if @member == current_member || @member.bio
      .info
        .email
          - if @member == current_member
            .title
              = t("members_show.email")
            =link_to image_tag("/assets/pencil.png"), "#", :id => "change_email_btn", :class => "change"
            .clearfix
            #email-editor.edit
              =form_for @member do |f|
                =f.text_field :email, :class => "email required"
              =link_to "OK", "#", :id => "email-confirm", :class => "btn small confirm"
              =link_to "Cancelar", "#", :id => "email-cancel", :class => "btn small cancel"
            .display= @member.email
    
        .zone
          - if @member == current_member
            .title
              = t("members_show.zone")
            =link_to image_tag("/assets/pencil.png"), "#", :id => "change_zone_btn", :class => "change"
            .clearfix
            #zona-editor.edit
              =form_for @member do |f|
                =f.select :zona, options_for_select(['', 'Centro', 'Norte', 'Oeste', 'Sul', 'Outra localidade'], @member.zona)
              =link_to "OK", "#", :id => "zona-confirm", :class => "btn small confirm"
              =link_to "Cancelar", "#", :id => "zona-cancel", :class => "btn small cancel"
            .display= @member.zona
    
        .bio
          - if @member.bio || @member == current_member
            .title
              = t("members_show.bio")
            - if @member == current_member
              = link_to image_tag("/assets/pencil.png"), "#", :id => "change_bio_btn", :class => "change"
              .clearfix
              #bio-editor.edit
                =form_for @member do |f|
                  =f.text_area :bio, :rows => '12', :maxlength => "200"
                  %small#member_tip 200 caracteres
                =link_to "OK", "#", :id => "bio-confirm", :class => "btn small confirm"
                =link_to "Cancelar", "#", :id => "bio-cancel", :class => "btn small cancel"
            .clearfix
            .display= @member.bio

          -if @member == current_member
            .password
              .title
                -if @member.encrypted_password && @member.encrypted_password != ""
                  =t("members_show.set_password")
                -else
                  =t("members_show.create_password")
              = link_to image_tag("/assets/pencil.png"), "#", :id => "change_bio_btn", :class => "change"
              #password_editor.edit
                =form_for @member do |f|
                  =f.password_field :password, :class => "required"
                  =f.label :password_confirmation
                  =f.password_field :password_confirmation, :class => "required"
                =link_to "OK", "#", :id => "password-confirm", :class => "btn small confirm"
                =link_to "Cancelar", "#", :id => "password-cancel", :class => "btn small cancel"
              .clearfix

    - if @member == current_member
      .is_subscriber
        =form_for @member do |f|
          =f.check_box :is_subscriber
          =f.label :is_subscriber, t("members_show.is_subscriber")

  .profile_bot

.grid_8
  - if @member.meu_rio_is || @member == current_member
    .meu_rio_is_top
      %h3.title= t("members_show.meu_rio_is")
    .meu_rio_is_mid
      -if @member == current_member
        =link_to image_tag("/assets/pencil.png"), "#", :id => "change_meu_rio_is_btn", :class => "change"
      .clearfix
      - if @member == current_member
        #meu_rio_is-editor.edit
          =form_for @member do |f|
            =f.text_area :meu_rio_is, :rows => '3', :cols => '91', :maxlength => "140"
            %small#meu_rio_is_tip 200 caracteres
          =link_to "OK", "#", :id => "meu_rio_is-confirm", :class => "btn small confirm"
          =link_to "Cancelar", "#", :id => "meo_rio_is-cancel", :class => "btn small cancel"
      .display= @member.meu_rio_is
    .meu_rio_is_bot
  .posts.grid_8.alpha.omega
    %h3
      = t("members_show.is_collaborating_in", :name => @member.first_name)
      = image_tag "/assets/comments_arrow.png"
    -unless @member.action_history.empty?
      - @member.action_history.each do |item|
        .post.clearfix
          .icon.grid_1.alpha
            = image_tag "/assets/01_petition_icon.png" if item.instance_of? PetitionSignature
            = image_tag "/assets/02_debate_icon.png" if item.instance_of? Comment
            = image_tag "/assets/02_debate_icon.png" if item.instance_of? Debate
            = image_tag "/assets/imagine.png" if item.instance_of? Idea
          .content.grid_6.omega
            .date= l item.created_at, :format => :very_short
            .link
              = link_to t("members_show.signed_petition", :title => item.petition.title, :issue => item.petition.issue.name), issue_custom_petition_path(item.petition.issue.id, item.petition.custom_path) if item.instance_of? PetitionSignature
              = link_to t("members_show.commented_debate", :name => item.commentable.title, :issue => item.commentable.issue.name), issue_debate_path(item.commentable.issue_id, item.commentable, :todos => 1, :anchor => "comment_#{item.id}") if item.instance_of? Comment
              = link_to t("members_show.debate_author", :name => item.title, :issue => item.issue.name), issue_debate_path(item.issue_id, item) if item.instance_of? Debate
              = link_to t("members_show.idea", :title => item.title, :issue => item.issue.name), issue_debate_path(item.issue_id, item) if item.instance_of? Idea
            .comment
              = "\"#{item.comment}\"" if item.instance_of?(PetitionSignature) && item.comment && !item.comment.empty?
              = "\"#{item.content}\"" if item.instance_of?(Comment) && !item.content.empty?

-if @member = current_member
  #image_form{ :style => "display: none;" }
    .image_form
      %header
        %h2 Mudar Imagem
      =form_for @member, :html => { :multipart => true }, :url => { :action => "update" } do |f|
        =f.file_field :image
        =f.submit "Enviar", :class => "btn"
