%h1.grid_12= @member.name

.grid_4 #personal_info

.grid_8
  - if @member.meu_rio_is
    .meu_rio_is
      %h3= t("members_show.meu_rio_is")
      = @member.meu_rio_is
  .posts.grid_8.alpha.omega
    %h3= t("members_show.is_collaborating_in", :name => @member.first_name)
    - (@member.petition_signatures + @member.comments).each do |item|
      .post.clearfix
        .icon.grid_1.alpha= image_tag "/assets/petition_icon.png"
        .content.grid_7.omega
          - @member.petition_signatures.each do |item|
            .link= link_to t("members_show.signed_petition", :title => item.petition.title), custom_petition_path(item.petition.custom_path)
            .date= l item.created_at
            .comment= "\"#{item.comment}\""
