%h1.grid_12= @member.name

.grid_4 #personal_info

.grid_8
  - if @member.meu_rio_is
    .meu_rio_is
      %h3= t("members_show.meu_rio_is")
      = @member.meu_rio_is
  .posts.grid_8.alpha.omega
    %h3
      = t("members_show.is_collaborating_in", :name => @member.first_name)
      = image_tag "/assets/comments_arrow.png"
    - (@member.petition_signatures + @member.comments).sort{|x, y| y.created_at <=> x.created_at}.each do |item|
      .post.clearfix
        .icon.grid_1.alpha
          = image_tag "/assets/01_petition_icon.png" if item.instance_of? PetitionSignature
          = image_tag "/assets/02_debate_icon.png" if item.instance_of? Comment
        .content.grid_7.omega
          .link
            = link_to t("members_show.signed_petition", :title => item.petition.title), custom_petition_path(item.petition.custom_path) if item.instance_of? PetitionSignature
            = link_to t("members_show.commented_debate", :name => item.commentable.title), debate_path(item.commentable) if item.instance_of? Comment
          .date= l item.created_at
          .comment
            = "\"#{item.comment}\"" if item.instance_of? PetitionSignature
            = "\"#{item.content}\"" if item.instance_of? Comment
